# Maven target folder
/target/

# Eclipse files
.classpath
.project
.settings/

# IntelliJ files
.idea/
*.iml
*.iws

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Spring Boot specific
*.jar
*.war
*.ear

# Others
.mvn/wrapper/maven-wrapper.jar
